#asu-feedback-button {
  display: block;
  float: right;
}

#asu-feedback-button span {
    background: url(images/feedback-1.jpg) no-repeat scroll left top transparent;
    display: block;
    height: 27px;
    width: 90px;
}


#asu-feedback-button span:hover {
    background: url(images/feedback-2.jpg) no-repeat scroll left top transparent;
}

#asu-feedback-tooltip {
  /*float: right;*/
  clear: both;
  padding: 0 5px;
  border: solid 1px #cacaca;
}

.cluetip-asu-feedback {
  background: #fff;
  border: none;
}

.cluetip-asu-feedback .ui-cluetip-header, .cluetip-asu-feedback .ui-cluetip-content {
  padding: 0px;
}

.cluetip-asu-feedback .ui-widget-header, .cluetip-asu-feedback h3 {
  display: none;
}
.item-list ul.asu-feedback {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin: 10px 0;
}

ul.asu-feedback li:hover {
  background-color: #fff5d0;
}

.item-list ul.asu-feedback li {
  background-repeat: no-repeat;
  background-position: 3px 20%;
  padding: 0 0 0 25px;
  margin: 0 0 4px 0;
	list-style-type: none;
}

li.asu-feedback-2 {
  background-image: url(images/request-access.gif);
}

li.asu-feedback-1 {
  background-image: url(images/feedback.gif);
}

li.asu-feedback-3 {
  background-image: url(images/help-icon.png);
}
ul.asu-feedback a {
  color: #333;
  font-size: 13px;
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  text-decoration: none;
}

.node-asu-feedback input[readonly="readonly"] {
  border: none;
}

.field-name-asu-feedback-help {
  display: none;
}

.page-node-edit .field-name-asu-feedback-help {
  display: block;
}

.page-node-edit .field-name-asu-feedback-help .link-field-title {
  display: none;
}
